body{
  width:1350px;
  overflow-x:hidden;
  font-family: "Microsoft YaHei";
  margin:0 auto;
}
#header iframe{
  width:100%;
  height:150px;
}
#footer iframe{
  width:100%;
  height:420px;
  overflow:hidden;
}
#nav{
  width:100%;
  height:40px;
  background-color:#3B3B3D;
  padding:0 75px;
}
#nav .fl{
  float:left;
  width:250px;
  height:40px;
  background-color:#FF4560;
  line-height:40px;
  text-align:center;
  font-weight:bold;
  font-size:16px;
  color:#fff;
  margin-right:10px;
}
#nav li a{
  float:left;
  color:#fff;
  font-size:14px;
  width:115px;
  height:40px;
  line-height:40px;
  text-align:center;
}
#nav li a:hover{
  display:inline-block;
  width:115px;
  height:40px;
  font-weight:bold;
  color:#fff;
  background-color:#272729;
}
/*************************************/
#lunbo{
  width:1200px;
  height:500px;
  margin:0 auto;
  margin-bottom:15px;
  position:relative;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}
#lunbo1{
  width:250px;
  height:500px;
  background-color:#FF5E75;
  position:relative;
}
#show{
  width:530px;
  height:500px;
  position:absolute;
  top:0;
  left:250px;
  background-color:#fff;
  display:none;
  z-index:1;
  box-sizing:border-box;
  padding:10px 30px;
  margin:0 auto;
}
#show li{
  width:100%;
  height:60px;
  border-bottom:1px solid #c6c6c6;
  box-sizing:border-box;
  line-height:90px;
}
#show:hover{
  display:block;
  opacity:0.9;
}
#show ul li a{
  color:#7a7a7a;
  font-size:15px;
}
#show ul li a:hover{
  color:#3c3b3b;
  font-size:16px;
}
#lunbo1 .list:hover +#show{
  display:block;
  opacity:0.9;
}
#lunbo1 .list:hover{
  background-color:#ff8a9b;
  opacity:0.9;
}
#lunbo1 .list a:hover{
  color:#7a7a7a;  
}
#lunbo1 .list{
  width:250px;
  height:100px;
  padding:20px;
  box-sizing:border-box;
  border-bottom:0.3px solid #FF7489;
}
#lunbo1 .list2{
  width:250px;
  height:100px;
  padding:20px;
  box-sizing:border-box;
  border-bottom:0.3px solid #FF7489;
}
#lunbo1 .list div{
  width:210px;
  height:30px;
  line-height:30px;
  overflow:hidden;
  vertical-align:middle;
}
#lunbo1 .list img{
  float:left;
  margin:3px;
}
#lunbo1 a.list1{
  font-size:14px;
  margin-left:5px;
  float:left;
  width:28px;
  height:19px;
}
#lunbo1 a{
  font-size:12px;
  color:#fff;
}
#lunbo2{
  font-size:12px;
  color:#fff;
  width:940px;
  height:500px;
}
#lb2{
  width:940px;
  height:285px;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}
#lb2 .lb{
  width:725px;
  height:285px;
  box-sizing:border-box;
  text-align:center;
  padding:10px 0;
}
#lb2 .lb2{
  width:206px;
  height:265px;
  box-sizing:border-box;
  padding:10px 0;
  border:1px solid #FFAFC2;
  padding:15px;
  margin-top:10px;
}
#lb3{
  width:940px;
  height:215px;
  box-sizing:border-box;
  text-align:center;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}
#lb3 .xtp{
  width:228px;
  height:215px;
  box-sizing:border-box;
  background-color:yellow;
  text-align:center;
  position:relative;
}
.lb{
  width:725px;
  height:285px;
  overflow:hidden;
  margin:0 auto;
  position:relative;
}
.lb .yuandian{
  position:absolute;
  bottom:15px;
  left:45%;
}
.lb .yuandian li{
  float:left;
  margin:0 3px;
}
.lb .yuandian a{
  display:inline-block;
  width:26px;
  height:26px;
  border:1px solid #fff;
  border-radius:50%;
  text-align:center;
  padding:4px 5px;
  box-sizing:border-box;
  color:#fff;
}
.lb .yuandian a:hover{
  background-color:#fff;
  color:#000;
}
.lb .yuandian a.active{
  background-color:#fff;
  color:#000;
}
.lb .arrow{
  position:absolute;
  bottom:40%;
}
.lb .arrow a{
  display:inline-block;
  background-color:#fff;
  width:43px;
  height:43px;
  border-radius:3px;
  text-align:center;
  opacity:0.3;
  line-height:35px;
}
.lb a:hover{
  opacity:0.8;
}
.lb .lf{left:20px;}
.lb .rg{right:10px;}
.lb2 a{
  display:inline-block;
  height:28px;
  font-size:12px;
  color:#7a7a7a;
  line-height:28px;
}
.lb2 span{
  display:inline-block;
  font-size:14px;
  font-weight:bold;
  color:#5a5a5a;
  line-height:140%;
}
.lb2 img{
  margin:3px;
}
#lb3 .xtp .tuijian{
  width:228px;
  height:120px;
  position:absolute;
  bottom:0;
  left:0;
  text-align:center;
  background-color:#fff;
  opacity:0.7;
  padding:30px 0;
  box-sizing:border-box;
}
#lb3 .xtp .tuijian h3{
  font-size:22px;
  font-weight:bold;
  color:#000;
  line-height:140%;
}
#lb3 .xtp .tuijian p{
  font-size:14px;
  margin-top:8px;
  line-height:140%;
  color: rgb(135, 135, 135);
}
#jion{
  width:1200px;
  height:127px;
  border: 1px solid rgb(240, 240, 240);
  margin:0 auto;
  line-height:140%;
  box-sizing:border-box;
  padding:10px 20px;
  margin-bottom:10px;
}
#jion .imj-jj{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  margin-bottom:15px;
}
#jion img:hover{
  position:relative;
  top:-1px;
  left:-1px;
}
#kill{
  width:1200px;
  height:390px;
  margin:0 auto;
  margin-bottom:10px;
}
.title{
  width:1200px;
  height:37px;
  background-color:#fff;
  text-align:left;
  line-height:37px;
}
.title1{
  font-size:20px;
  font-weight:bold;
}
.title a{
  float:right;
  color: rgba(102,102,102,1);
}
.title a:hover{
  color:#FF5E75;
}
.hx{
  border:1px solid #FF5E75;
}
.kcp{
  width:1200px;
  height:351px;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  box-sizing:border-box;
  padding:20px 15px;
  border:1px solid rgb(240, 240, 240); 
}
.kcp a{
  display:block;
  width:200px;
  line-height:140%;
  color:#5a5a5a;
  font-size:15px;
}
.kcp a:hover{
  color:#0064D4;
}
.kcp p{
  color:#acacac;
}
.kcp .p1{
  line-height:140%;
  text-decoration:line-through;
  color:#666;
}
.p2{
  font-size: 16px;
  color: #fe3061;
  font-weight: bold;
  line-height: 140%;
}
.kcp img{
  width:200px;
  height:200px;
  opacity:0.8;
}
.kcp img:hover{
  opacity:1;
  transition:all .3s linear;
}
.kcp .kjs{
  width:192px;
  height:18px;
  line-height:18px;
  background-image:url(../img/index/sitestar_miaosha_img3.jpg);
  background-repeat:no-repeat;
  text-align:center;
  color:#a6a6a6;
  font-size:13px;
  margin-bottom:10px;
  margin-top:10px;
}
#hot{
  width:1200px;
  height:405px;
  margin:0 auto;
  margin-bottom:10px;
}
#hot .hcp{
  width:1200px;
  height:363px;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  box-sizing:border-box;
  padding:20px 15px;
  border:1px solid rgb(240, 240, 240); 
}
#hot img{
  width:200px;
  height:200px;
}
#hot .hcp1{
  width:200px;
  height:311px;
  box-sizing:border-box;
  border:1px solid rgb(240, 240, 240);
}
#hot .hcp2{
  width:200px;
  height:111px;
}
#hot .hcp2:hover{
  background-color:#ff788b;
  color:#fff;
}
#hot .hcp11{
  width:200px;
  height:52px;
  text-align:center;
  line-height:160%;
  box-sizing:border-box;
  padding:10px;
}
#hot .hcp11 a{
  display:block;
  text-align:center;
  font-size:14px;
  color:#434343;
  overflow:hidden;
}
#hot .hcp12{
  width:200px;
  height:59px;
  box-sizing:border-box;
  padding:10px;
}
#hot .hcp12 div{
  float:left;
  width:59px;
  height:28px;
  text-align:center;
  line-height:140%;
  border-right:1px solid #eeeeee;
  border-right-color:rgba(0,0,0,0.1);
}
.skin{
  width:1200px;
  height:327px;
  margin:0 auto;
  margin-bottom:10px;
}
.skin .skin1{
  width:1200px;
  height:40px;
  background-color:#F8F8F6;
}
.skin .skin2{
  width:220px;
  height:40px;
  text-align:left;
  float:left;
  border-bottom:1px solid #FF5E75;
  box-sizing:border-box;
}
.skin .skin3{
  width:280px;
  height:40px;
  float:left;
  border-bottom:1px solid #FF5E75;
  box-sizing:border-box;
}
.skin span{
  font-size:20px;
  font-weight:bold;
  line-height:40px;
}
.skin li a{
  float:left;
  font-size:14px;
  width:100px;
  height:40px;
  line-height:40px;
  text-align:center;
  border-bottom:1px solid #FF5E75;
  box-sizing:border-box;
}
.skin li a:hover{
  font-weight:bold;
  color:#ff5e75;
}
.skin li a.sactive{
  box-sizing:border-box;
  border-left:1px solid #FF5E75;
  border-right:1px solid #FF5E75;
  border-top:2px solid #FF5E75; 
  border-bottom:0;
}
.skin .skin4{
  width:1200px;
  height:287px;
  border:1px solid rgb(240, 240, 240);
  box-sizing:border-box;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}
.skin .skin41{
  width:190px;
  height:287px;
  box-sizing:border-box;
  padding:8.5px 15px;
}
.skin .skin42{
  width:980px;
  height:285px;
  box-sizing:border-box;
  padding:10px 15px;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}
.skin .skin421{
  width:178px;
  height:285px;
}
.skin .skin421 img{
  width:178px;
  height:178px;
}
.skin .skin421 img:hover{
  position:relative;
  top:-2px;
}
.skin .skin421 a{
  display:inline-block;
  font-size:14px;
  color:#434343;
  line-height:28px;
  margin-top:10px;
  margin-bottom:5px;
  margin-left:3px;
}
.skin .skin422{
  font-size:12px;
  color:#666;
  text-decoration:line-through;
  line-height:140%;
  margin-bottom:3px;
  margin-left:3px;
}
.skin .skin423{
    font-size:14px;
    color:#ff5e75;
    line-height:140%;
	margin-left:3px;
}
#cbl{
  width:43px;
  min-height:700px;
  background-color:#3B3B3D;
  margin:0 auto;
  position:absolute;
  top:0;
  right:0;
  position:fixed;
  box-sizing:border-box;
  padding-top:160px;
}
#cbl .cbw{
  color:#fff;
  font-size:12px;
  width:100%;
  height:65px;
  line-height:220%;
  text-align:center;
  padding:6px 0 10px 0;
  box-sizing:border-box;
}
#cbl .cbw1{
  width:100%;
  height:30px;
  text-align:center;
  padding:2px;
  box-sizing:border-box;
  margin-top:170px;
  position:relative;
}
#cbl .cbw:hover{
  background-color:#FF4560;
}
#cbl .cbw2{
  color:#fff;
  font-size:8px;
  height:50px;
  line-height:100%;
  text-align:center;
  padding:5px 0 5px 0;
  box-sizing:border-box;
  display:block;
}
#cbl .cbw2 a{
  color:#fff;
}
#cbl .cbw2 a:hover{
  color:#fff;
}
.ewm{
  text-align:center;
  display:none;
  width:120px;
  height:130px;
  position:absolute;
  top:-100px;
  right:60px;
  background-color:#fff;
  box-sizing:border-box;
  font-size:14px;
}
.ewm img{
  width:100px;
  height:100px;
  margin:3px;
}
.img1:hover +.ewm{
    display:block;
}